body{
    background-color: #f4f6f9;
}
.bodyrack2{
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bodyrack2 h4{
	font-size: 30px;
}
.imgaego{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.rempad{
    padding-left: 2px !important;
    padding-right: 2px !important;
    cursor: pointer;
}
.activer{
    border: 2px solid black;
    border-radius: 4px;
}
.activer2{
    border: 4px solid red;
    border-radius: 4px;
}
.rempad h6{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.rempad i{
	position: absolute;
    left: 10px;
    top: 10px;
    font-size: 12px;
    color: #fff;
    padding: 5px;
    background: red;
    border-radius: 50%;
	opacity: 0;
}
.card-header{
    background-color: #fff;
}
.bodyrack{
    margin-top: 20px;
}
.pl0{
    padding-left: 1px;
}
.pr0{
    padding-right: 0px;
}
.loaderr {
	width: 100%;
	margin: 0 auto;
	position:relative ;
	padding: 3px;
	border-radius: 10px;
	margin-bottom: 10px;
	display: none;
}
.img-title h3{
    text-align: center;
}
.loaderr:before {
	content:'';
	position:absolute ;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	background: lightgrey;
	border-radius: 10px;
}
.loaderr .loaderbar {
	position:absolute ;
	top: 0;
	right: 100%;
	bottom: 0;
	left: 0;
	background: #343a40   ;
	border-radius: 10px;
	width: 0;
	animation: borealisBar 0.7s linear infinite;
}
@keyframes borealisBar {
	0%{
		left: 0%;
		right: 100%;
		width: 0%;
	}
	10%{
		left: 0%;
		right: 75%;
		width: 25%;
	}
	90%{
		right: 0%;
		left: 75%;
		width: 25%;
	}
	100%{
		left: 100%;
		right: 0%;
		width: 0%;
	}
}
.cardcx{
	position: fixed;
	width: 100%;
	background: #fff;
	padding-top: 27px;
	top: 0;
	box-shadow: 0px 7px 7px #cfcfcf;
	z-index: 99999;
}
.padtoper{
	padding-top: 70px;
	padding-bottom: 70px;
}
.footselect{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	box-shadow: -1px -4px 7px 0px #cfcfcf;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footselect button{
	margin-right: 20px;
}
.loko{
	box-shadow: 0px 2px 7px #cfcfcf;
}
.colex{
	text-align: center;
}
.colex h6{
	font-weight: bold;
}