RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^contact$ contact.php [NC,QSA]
RewriteRule ^about$ about.php [NC,QSA]
RewriteRule ^privacy-policy$ privacy-policy.php [NC,QSA]
RewriteRule ^terms-condition$ terms-condition.php [NC,QSA]
RewriteRule ^blog/categories$ blog/categories.php [NC,QSA]
RewriteRule ^blog/tags$ blog/tags.php [NC,QSA]
RewriteRule ^blog/([a-z-A_Z]+)$ blog/details.php?title=$1 [NC,QSA]
RewriteRule ^sitemap.xml$ sitemap.php? [NC,QSA]
RewriteRule ^site2_sitemap.xml$ site2_sitemap.php? [NC,QSA]
RewriteRule ^site_sitemap.xml$ site_sitemap.php? [NC,QSA]

RewriteRule ^admin/messages$ admin/messages.php [NC,QSA]
RewriteRule ^admin/dashboard$ admin/dashboard.php [NC,QSA]
RewriteRule ^admin/category/blog_categories$ admin/category/blog_categories.php [NC,QSA]
RewriteRule ^admin/category/b_categories_add$ admin/category/b_categories_add.php [NC,QSA]
RewriteRule ^admin/category/b_categories_edit$ admin/category/b_categories_edit.php [NC,QSA]
RewriteRule ^admin/posts/post$ admin/posts/post.php [NC,QSA]
RewriteRule ^admin/posts/add_post$ admin/posts/add_post.php [NC,QSA]
RewriteRule ^admin/posts/edit_post$ admin/posts/edit_post.php [NC,QSA]
RewriteRule ^admin/posts/activepost$ admin/posts/activepost.php [NC,QSA]
RewriteRule ^admin/posts/inactivepost$ admin/posts/inactivepost.php [NC,QSA]
RewriteRule ^admin/posts/schedule_post$ admin/posts/schedule_post.php [NC,QSA]
RewriteRule ^admin/posts/drafts$ admin/posts/drafts.php [NC,QSA]
RewriteRule ^admin/posts/schedule_edit_post$ admin/posts/schedule_edit_post.php [NC,QSA]
RewriteRule ^admin/posts/edit_draft$ admin/posts/edit_draft.php [NC,QSA]
RewriteRule ^admin/images$ admin/images.php [NC,QSA]
RewriteRule ^admin/login$ admin/login.php [NC,QSA]


Options -Indexes